* {
    text-align: center;
    margin: 0 auto;
}


body {
    background-color: #93bedf;
    color: #8ef9f3
}

img {
    width: 50%;
    border:1px solid #748cab;
}

p {
    font-size:
}
